.feature-cards, .profile__content-medals {
  height: inherit;
  width: inherit;
  margin: 0;
  list-style-type: none;
  position: absolute;
  top: 50%;
  left: 50%;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: auto;
  scroll-behavior: smooth; }
  .feature-cards::-webkit-scrollbar, .profile__content-medals::-webkit-scrollbar {
    width: 0; }

body {
  font-size: 16px;
  font-family: 'Titillium Web', 'sans-serif';
  letter-spacing: 0; }

.info {
  font-size: .7rem; }

.highlight {
  cursor: pointer; }
  .highlight--cta {
    color: #e1f473;
    text-decoration: underline; }
  .highlight--info {
    color: #ffeaec; }
  .highlight--success {
    color: #6b5bf5; }

.heading {
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: 1px 1px 4px rgba(22, 22, 22, 0.5);
  font-weight: 900; }
  .heading__primary {
    color: #191a5a; }
  .heading__secondary {
    color: #4d7298; }
  .heading__tertiary {
    color: #77a6b6; }
  .heading__white {
    color: #ffeaec; }
  .heading__cta {
    color: #e07e7e; }

.section__info {
  text-align: left;
  padding: 1rem 1.5rem;
  margin-bottom: -3rem; }

.section__small {
  display: block;
  line-height: 1;
  color: white; }

.u-bg-1 {
  background-color: #9DC3C2; }

.u-bg-2 {
  background-color: #4d7298; }

.u-bg-3 {
  background-color: #9DC3C2; }

.u-bg-4 {
  background-color: #77a6b6; }

.u-bg-material {
  background-color: #ececec; }

.u-margin-bottom-10 {
  margin-bottom: 10px; }

.u-margin-bottom-15 {
  margin-bottom: 15px; }

.u-margin-bottom-20 {
  margin-bottom: 20px; }

.u-margin-bottom-25 {
  margin-bottom: 25px; }

.u-margin-bottom-30 {
  margin-bottom: 30px; }

.u-capitalise {
  text-transform: capitalize; }

.u-uppercase {
  text-transform: uppercase; }

.u-placeholder {
  width: 100%;
  height: 100%; }

.u-hidden {
  display: none; }

.btn {
  padding: .5rem 2rem;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  letter-spacing: 0;
  box-shadow: 2px 2px 4px rgba(22, 22, 22, 0.5); }
  .btn__primary {
    background-color: #191a5a;
    color: #ffeaec; }
  .btn__secondary {
    background-color: #77a6b6;
    text-decoration: none;
    color: #ffeaec; }
  .btn__tertiary {
    background-color: #e07e7e;
    text-decoration: none;
    color: #ffeaec; }
  .btn__large {
    width: 14.8rem; }
  .btn__xlarge {
    width: 92%; }
  .btn__medium {
    width: 70%; }

form input {
  display: block;
  margin: 0.4rem auto;
  padding: 0.4rem;
  width: 14rem;
  border: 1px solid #9DC3C2;
  background-color: #ffeaec; }
  form input::placeholder {
    font-family: 'Titillium Web';
    font-size: 0.65rem;
    letter-spacing: 0.5px; }

nav {
  position: fixed;
  height: 80px;
  z-index: 10; }

.nav__container {
  height: inherit;
  width: 100vw;
  background-color: #4d7298;
  position: relative; }

.nav__logo {
  display: inline-block;
  width: 150px;
  position: inherit;
  top: 25px;
  left: 10px;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */ }
  .nav__logo--image {
    width: 100%;
    height: auto;
    position: inherit; }

.nav__label {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: #ffeaec;
  box-shadow: 0 0 10px rgba(22, 22, 22, 0.5);
  border-radius: 5px;
  cursor: pointer;
  z-index: 10000; }
  .nav__label:hover .nav__icon::before {
    -webkit-transform: translateY(-14px);
    -ms-transform: translateY(-14px);
    -o-transform: translateY(-14px);
    -moz-transform: translateY(-14px);
    transform: translateY(-14px); }
  .nav__label:hover .nav__icon::after {
    -webkit-transform: translateY(9px);
    -ms-transform: translateY(9px);
    -o-transform: translateY(9px);
    -moz-transform: translateY(9px);
    transform: translateY(9px); }

.nav__icon {
  display: inline-block;
  width: 80%;
  height: 5px;
  background-color: #191a5a;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  .nav__icon::before {
    display: block;
    background-color: inherit;
    content: "";
    width: 100%;
    height: 100%;
    -webkit-transform: translateY(-11px);
    -ms-transform: translateY(-11px);
    -o-transform: translateY(-11px);
    -moz-transform: translateY(-11px);
    transform: translateY(-11px);
    border-radius: inherit;
    -webkit-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s; }
  .nav__icon::after {
    display: block;
    background-color: inherit;
    content: "";
    width: 100%;
    height: 100%;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    -o-transform: translateY(6px);
    -moz-transform: translateY(6px);
    transform: translateY(6px);
    border-radius: inherit;
    -webkit-transition: transform 0.2s;
    -ms-transition: transform 0.2s;
    -moz-transition: transform 0.2s;
    transition: transform 0.2s; }

.nav__toggler {
  visibility: hidden;
  display: none; }
  .nav__toggler:checked ~ .nav__label .nav__icon {
    visibility: hidden;
    width: 110%; }
    .nav__toggler:checked ~ .nav__label .nav__icon::before {
      opacity: 1;
      visibility: visible;
      background-color: #161616;
      -webkit-transform: rotate(585deg);
      -ms-transform: rotate(585deg);
      -o-transform: rotate(585deg);
      -moz-transform: rotate(585deg);
      transform: rotate(585deg);
      transform-origin: center; }
    .nav__toggler:checked ~ .nav__label .nav__icon::after {
      background-color: #161616;
      visibility: visible;
      -webkit-transform: rotate(-585deg) translate(-4px, 3px);
      -ms-transform: rotate(-585deg) translate(-4px, 3px);
      -o-transform: rotate(-585deg) translate(-4px, 3px);
      -moz-transform: rotate(-585deg) translate(-4px, 3px);
      transform: rotate(-585deg) translate(-4px, 3px); }
  .nav__toggler:checked ~ .nav__label:active .nav__icon, .nav__toggler:checked ~ .nav__label:hover .nav__icon {
    width: 120%; }
  .nav__toggler:checked ~ nav .nav__window {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    -moz-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1;
    visibility: visible; }

.nav__window {
  width: 100vw;
  opacity: 0;
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -o-transform: scaleY(0);
  transform: scaleY(0);
  transform-origin: top;
  -webkit-transition: opacity 0.2s, transform 0.3s;
  -ms-transition: opacity 0.2s, transform 0.3s;
  -moz-transition: opacity 0.2s, transform 0.3s;
  transition: opacity 0.2s, transform 0.3s;
  transition-timing-function: cubic-bezier(0.2, 0.37, 0, 1);
  visibility: hidden;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */
  position: absolute;
  top: 80px;
  left: 0;
  height: 90vh;
  overflow-y: scroll; }

.nav__search {
  background-color: #4d7298;
  padding-bottom: 10px; }
  .nav__search-caption {
    text-align: left;
    color: #ffeaec;
    font-weight: 300;
    letter-spacing: 1.1px;
    padding: 1rem;
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */ }
  .nav__search-form {
    position: relative; }
  .nav__search-input {
    display: inline-block;
    text-align: left;
    margin: 0 0 0.5rem 1rem;
    padding: 1rem;
    width: 82.5vw;
    border-radius: 8px;
    border: none; }
    .nav__search-input::placeholder {
      color: #aaa;
      font-size: 0.8rem;
      font-style: italic;
      letter-spacing: 0.5px; }
  .nav__search-icon {
    position: absolute;
    top: 0;
    right: 15%; }
    .nav__search-icon-container {
      width: 100%;
      height: 100%;
      position: relative;
      -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
      -moz-transform: translateX(10px);
      -o-transform: translateX(10px);
      transform: translateX(10px); }
    .nav__search-icon-1 {
      padding: 0.2rem;
      display: block;
      content: "";
      width: 17px;
      height: 17px;
      background-color: #161616;
      border-radius: 1000px;
      position: absolute;
      top: 6px;
      left: 3px;
      z-index: 3; }
      .nav__search-icon-1::before {
        display: block;
        content: "";
        width: 19px;
        height: 19px;
        background-color: #77a6b6;
        border-radius: 1000px;
        z-index: 3;
        position: absolute;
        top: 2px;
        left: 2px; }
    .nav__search-icon-2 {
      content: "";
      display: block;
      background-color: #161616;
      width: 23px;
      height: 3px;
      border-radius: 100px;
      -webkit-transform: translate(15px, 29px) rotate(45deg);
      -ms-transform: translate(15px, 29px) rotate(45deg);
      -moz-transform: translate(15px, 29px) rotate(45deg);
      -o-transform: translate(15px, 29px) rotate(45deg);
      transform: translate(15px, 29px) rotate(45deg); }
  .nav__search-button {
    padding: 0.7rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1.3px;
    box-shadow: none;
    margin: 0.5rem 1rem; }

.nav__hero {
  background-color: #ffeaec;
  box-shadow: 0 1px 3px rgba(22, 22, 22, 0.8);
  padding-bottom: 1rem; }
  .nav__hero .heading {
    text-align: center;
    margin: 0; }
  .nav__hero-link {
    display: block;
    height: 100px;
    width: 100%;
    margin: 1rem 0;
    position: relative; }
    .nav__hero-link:link, .nav__hero-link:visited {
      color: #ffeaec;
      text-decoration: none; }
    .nav__hero-link--1 {
      background-color: #C88B6C; }
    .nav__hero-link--2 {
      background-color: #8C914E; }
    .nav__hero-link--3 {
      background-color: #e1f473; }
    .nav__hero-link--4 {
      background-color: #aaa; }
    .nav__hero-link--5 {
      background-color: #4d7298; }
    .nav__hero-link--6 {
      background-color: #606; }
    .nav__hero-link-text {
      text-shadow: 1px 1px 2px rgba(22, 22, 22, 0.65);
      padding: 0 1rem;
      display: inline-block;
      width: 100px;
      margin-top: 1rem; }
  .nav__hero-image {
    display: inline-block;
    height: inherit;
    position: absolute;
    top: 0;
    right: 0;
    clip-path: polygon(49% 0, 100% 0%, 100% 100%, 21% 100%); }

.nav__easy-container {
  background-color: #4d7298;
  text-align: right;
  padding: 1rem 0.5rem; }
  .nav__easy-container .heading {
    margin-right: 1rem; }
  .nav__easy-container hr {
    border-top: 1px solid #191a5a;
    border-bottom: 1px solid #77a6b6;
    height: 1px;
    width: 80%;
    background-color: grey;
    margin: 0 auto;
    transform: translateX(20px); }
    .nav__easy-container hr:first-of-type {
      margin-top: 0.3rem; }
    .nav__easy-container hr:last-of-type {
      margin-top: -1rem;
      margin-bottom: 30px; }
  .nav__easy-container input[type="button"] {
    margin-right: 0.8rem;
    margin-bottom: 1rem; }

.nav__easy-links {
  list-style: none;
  padding: 1rem; }

.nav__easy-link {
  margin-bottom: 1rem;
  color: white;
  text-decoration: underline;
  cursor: pointer; }

.feature-card {
  display: inline-block;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  transform: rotate(-90deg);
  text-decoration: none; }
  .feature-card--container {
    background-color: #ffeaec;
    width: 220px;
    height: 255px;
    position: relative;
    text-align: left;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 3.5px rgba(22, 22, 22, 0.5); }
  .feature-card--title {
    color: #ffeaec;
    font-size: 1rem;
    position: absolute;
    margin: 5px 0 0 10px; }
  .feature-card--image-container {
    height: 150px; }
  .feature-card--image-img {
    background-image: url("../assets/images/01.png");
    height: inherit;
    background-size: cover;
    background-repeat: no-repeat; }
  .feature-card--list {
    list-style-type: none;
    z-index: 1;
    color: #161616;
    font-size: .8rem;
    padding: .8rem; }
  .feature-card--details:first-of-type {
    font-weight: 700;
    -webkit-transform: translateY(-40%);
    -ms-transform: translateY(-40%);
    -o-transform: translateY(-40%);
    -moz-transform: translateY(-40%);
    transform: translateY(-40%);
    letter-spacing: 0px; }

.register__form {
  background-color: rgba(25, 26, 90, 0.98);
  padding: 50px 60px;
  position: relative; }
  .register__form label {
    font-size: 0.8rem;
    color: #ffeaec; }
  .register__form-closer {
    font-size: 1.2rem !important;
    position: absolute;
    top: 10px;
    right: 20px; }

.register__toggler {
  display: none; }
  .register__toggler:checked .register__container {
    transform: scale(1000); }
  .register__toggler:checked ~ .register__form {
    display: block;
    z-index: 100; }

.register__form {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

#medal--1 {
  background-image: url("../assets/icons/medal_sml.png"); }

#medal--2 {
  background-image: url("../assets/icons/medal_lg.png"); }

.container {
  margin: 0 auto;
  text-align: center;
  display: block; }

.feature-cards--container {
  transform: rotate(90deg);
  height: 100vw;
  width: auto; }

.feature-cards {
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  width: 300px; }

.landing {
  height: 100vh;
  color: #ffeaec;
  position: relative; }
  .landing .heading {
    padding-top: 20%; }
    .landing .heading h4 {
      text-transform: uppercase; }
    .landing .heading img {
      max-width: 100%;
      margin: 0.2rem 0 1rem; }
  .landing .login__form[type="text"] {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px; }
  .landing .login__form[type="password"] {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px; }
  .landing h5 {
    font-weight: 400;
    text-transform: uppercase;
    color: #191a5a;
    margin: 2rem 0 4.5rem; }
  .landing h6 {
    font-weight: 400;
    color: #ffeaec; }
    .landing h6 a:link,
    .landing h6 a:visited {
      color: #e1f473; }
  .landing a:link,
  .landing a:visited {
    color: #ffeaec; }
  .landing input[type="checkbox"] {
    display: none; }
    .landing input[type="checkbox"]:checked ~ .redirect__container {
      opacity: 1;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(25, 26, 90, 0.97);
      height: 100vh;
      width: 100vw; }
  .landing .redirect__container {
    opacity: 0; }
    .landing .redirect__container h4 {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
      text-transform: capitalize;
      width: inherit; }

.sections__container:first-of-type {
  padding-top: 80px; }

.sections__container .btn {
  display: inline-block;
  margin: -2rem auto 2rem; }

section {
  text-align: center; }

.profile__container {
  padding-top: 80px;
  position: relative; }

.profile__head {
  background-image: linear-gradient(to right, #4d7298 15%, #2ead1e);
  width: 100vw;
  display: table;
  padding-top: 1rem; }

.profile__image-container {
  width: 33.33333%;
  display: table-cell;
  vertical-align: middle;
  padding: 1rem 2rem;
  padding-right: 1rem; }

.profile__image-img {
  display: inline-block;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-image: url("../assets/images/profile_test.jpg"); }

.profile__head-content {
  letter-spacing: 0;
  width: 66.66666%;
  display: table-cell;
  vertical-align: middle;
  padding: 0 1rem;
  font-style: italic; }
  .profile__head-content--1 {
    color: #161616;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: -0.5px; }
  .profile__head-content--2 {
    color: white;
    font-size: 0.9rem; }
  .profile__head-content--3 {
    color: white;
    font-size: 0.8rem; }

.profile__head-nav-container {
  background-image: linear-gradient(to right, #4d7298 15%, #2ead1e);
  padding: 0 1rem; }

.profile__head-nav {
  display: block; }

.profile__head-links {
  margin: 1rem auto 0;
  list-style-type: none;
  display: inline-block; }
  .profile__head-links li {
    display: inherit;
    margin: auto 0.45rem;
    text-align: center; }
    .profile__head-links li::after {
      content: "";
      display: inline-block;
      width: 102%;
      height: 5px;
      background-color: #ffeaec;
      transform: translate(1px, -14px);
      -webkit-transform: translate(1px, -14px);
      -ms-transform: translate(1px, -14px);
      -o-transform: translate(1px, -14px);
      -moz-transform: translate(1px, -14px); }
    .profile__head-links li.active::after {
      background-color: #191a5a; }

.profile__head-link:link, .profile__head-link:visited {
  color: white;
  text-decoration: none;
  font-weight: 700; }

.profile__head-link.active {
  color: #191a5a; }

.profile__head-email {
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer; }
  .profile__head-email img {
    width: 70%; }

.profile__content {
  letter-spacing: 0; }
  .profile__content-box {
    background-color: white;
    width: 90vw;
    margin: 1rem auto;
    text-align: center;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4); }
    .profile__content-box:first-of-type {
      width: 100vw;
      height: 150px;
      position: relative; }
  .profile__content-medals--container {
    width: inherit;
    height: inherit; }
  .profile__content-medals {
    transform: translate(-50%, -50%) rotate(90deg);
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
    -ms-transform: translate(-50%, -50%) rotate(90deg);
    -o-transform: translate(-50%, -50%) rotate(90deg);
    -moz-transform: translate(-50%, -50%) rotate(90deg);
    height: 100vw;
    width: 150px; }
  .profile__content-medal {
    margin: 0 auto;
    width: 100px;
    height: 90px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transform: translateX(10px) rotate(-90deg);
    position: relative;
    width: 110px; }
    .profile__content-medal span {
      text-transform: capitalize;
      font-size: 0.7rem;
      font-weight: 700;
      line-height: 0.7rem;
      position: absolute;
      text-align: center;
      display: inline-block;
      max-height: 30px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -290%); }

.profile__content-bio {
  list-style-type: none;
  text-align: left;
  padding: 2rem 1rem;
  font-size: 0.8rem;
  position: relative;
  max-height: 350px;
  overflow-y: scroll; }
  .profile__content-bio-key {
    color: #a0a0a0;
    text-transform: capitalize; }
    .profile__content-bio-key:first-of-type {
      margin-top: 1rem; }
  .profile__content-bio-value {
    color: #161616;
    margin-bottom: 20px; }
  .profile__content-bio .profile__content-edit-bio {
    position: absolute;
    top: 10px;
    right: 20px; }

.profile__content-stat-container {
  margin: 1.2rem 0.5rem 0;
  display: inline-block;
  width: 120px;
  height: 87px;
  color: white;
  background-image: linear-gradient(to bottom right, #e1f473 3%, #191a5a);
  padding: 0.2rem;
  border-radius: 2px; }
  .profile__content-stat-container:last-of-type {
    margin-bottom: 16px; }

.profile__content-stat-hero {
  display: block;
  font-size: 2.3rem;
  font-weight: 300; }

.profile__content-stat-info {
  font-size: 0.75rem;
  width: auto;
  display: block;
  line-height: 13px;
  font-weight: 200; }

* {
  margin: 0;
  padding: 0; }
