main {
  letter-spacing: 0; }

.info {
  font-size: .7rem; }

.btn {
  padding: .5rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer; }
  .btn__primary {
    background-color: #191a5a;
    color: #ffeaec; }
  .btn__large {
    width: 14.8rem; }

main {
  text-align: center;
  display: block;
  color: #ffeaec;
  height: 100vh;
  background-color: #9DC3C2;
  position: relative; }
  main .heading {
    padding-top: 20%; }
    main .heading h4 {
      text-transform: uppercase; }
    main .heading img {
      max-width: 100%;
      margin: .2rem 0 1rem; }
  main form input {
    display: block;
    margin: .4rem auto;
    padding: .4rem;
    width: 14rem;
    border: 1px solid #9DC3C2;
    background-color: #ffeaec; }
    main form input::placeholder {
      font-family: 'Titillium Web';
      font-size: .65rem;
      letter-spacing: .5px; }
    main form input[type="text"] {
      border-top-left-radius: 2px;
      border-top-right-radius: 2px; }
    main form input[type="password"] {
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px; }
  main h5 {
    font-weight: 400;
    text-transform: uppercase;
    color: #191a5a;
    margin: 2rem 0 4.5rem; }
    main h5 a {
      color: #ffeaec; }

* {
  margin: 0;
  padding: 0; }

body {
  font-size: 16px;
  font-family: 'Titillium Web', 'sans-serif';
  letter-spacing: 1.1px; }

footer {
  text-align: center;
  color: #333; }
